body{
    font-family: Arial, Helvetica, sans-serif;
    background:lavender;
    align: center;
}
.app{
    margin:40px auto;
    padding:5px;
    max-width: 800px;
}
.dashboard{
    max-width:90%;
    margin-bottom: 50px;
    margin-top:40px;
    width:900px;
    padding: 2px;
    background:ghostwhite;
    border-radius: 20px;
    box-shadow: 0 1px 1px 2px blueviolet;

}
.header{
    text-align:center;
    border: 2px solid rgb(255, 255, 255);
    padding:10px;
    margin-top:-5px;
    margin-bottom:30px;
    margin-left:-5px;
    margin-right:-5px;
    background:white;
    display:flex;
    justify-content: space-between;
    align-items:center;

}
.recents{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-wrap:nowrap;
}
.recent-box{
    background: white;
    border: 2px solid black;
    margin:20px;
    padding:20px;
    width:250px;
    min-height:100px;
    flex-shrink:0;

}


h1{
    text-align: center;
    padding:2px;
    margin-bottom:20px;
}
h2{
    text-align:center;
}

.notecard{
    padding:10px;
    margin:10px;
    border: 2px solid;
    border-radius:15px;
    display:flex;
    justify-content: space-between;
    background:floralwhite;
    align-items: center;
}
.icon button{
    padding:4px;
    gap: 10px;
    border:none;
    background:none;
    cursor:pointer;
    
}
.button{
    padding:5px;
    border: 2px solid black;
    margin:5px;
    border-radius:10px;
    background: floralwhite;
    cursor: pointer;

}
.inner-buttons{
    padding:5px;
    border: 2px solid black;
    margin:5px;
    border-radius:10px;
    background:rgb(255, 255, 255);
    cursor: pointer;

    
}
.inner-heading{
    background: white;
    text-align:center;
    height:30px;
    align-items:center;
    border-radius:20px;
    
}

.taskcard{
    padding:10px;
    margin:10px;
    border: 2px solid;
    border-radius:15px;
    display:flex;
    justify-content: space-between;
    background:floralwhite;
    align-items: center;
}
.goalcard{
    padding:10px;
    margin:10px;
    border: 2px solid;
    border-radius:15px;
    background:floralwhite;
    align-items: center;
}
.goalbuttons{
    display:flex;
    justify-content:space-between;

}
.card{
    padding: 20px;
    border-radius:20px;
    margin: 20px;
    background:white;
    box-shadow: 0 0 20px rgb(186, 146, 255);
    width: 160px;
    height: 160px;
    text-align: center;
    cursor: pointer;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

   
}

.card-container{
    display:flex;
    justify-content:center;
}
.progress-bar{
    width:30%;
    border: 1px solid black;
    height:15px;
    margin:10px;
}
.progress-fill{
    background: rgb(32, 239, 32);
    height: 100%;
}
.progress{
    display:flex;
    align-items: center;
}